<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="text-center">
        <h1>
          <br>
          ようこそ！<br>
          <br>
          <div class="d-flex justify-content-center">
            <div class="top_image"><%= image_tag 'top-image1' %></div>
            <div class="font">
              <strong>タンス with me</strong>
            </div>
            <div class="top_image"><%= image_tag 'top-image2' %></div>
          </div>
        </h1>
      <h3>
        <br>
        ここでは<br>
        <br>
        自分で買ったトップスやボトムスを<br>
        <br>
        自由に整理することができます！<br>
        <br>
        登録した服を使って<br>
        <br>
        コーディネートすることが出来ます！<br>
        <br>
      </h3>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>