/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";
  @import 'font-awesome-sprockets';
  @import 'font-awesome';

  header,footer {
    font-family: 'Rampart One', cursive;
    background-color: #ffd900;
    color: #333;
  }

  h1{
    color: #333;
  }

  body{
    font-family:"メイリオ", "Meiryo", sans-serif,"A1ゴシック M","A1 Gothic M","ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","Hiragino Sans","游ゴシック Medium","YuGothic","YuGothicM";
    margin: 0px;
    background-color: #ffffdf;
  }

  main{
    flex: 1;
  }

  ul {
    list-style: none;
  }

  @media screen and (max-width: 1177px) {
    .form-size {
      width: 100px;
    }
  }

@media screen and (max-width: 960px) {
  header{
    width: 100vh;
  }

  .flex-column{
    height: 102vh;
  }

  footer{
    width: 100vh;
  }
}

@media screen and (max-width: 480px) {
  .flex-column{
    height: 178vh;
  }

  header{
    width: 100vh;
    height: 90px;
  }

  footer{
    height: 100px;
    width: 100vh;
  }

  main{
    width: 100vh;
    height: calc(100vw -190px);
  }


  #code{
    width: 100vh;
    padding-right: 77px;
    justify-content: space-around;
    &-box{
      position: relative;
      width: 14vh;
      padding-right: 15px;
      padding-left: 15px;
      .dresser{
        img{
          width: 90px;
          height: 150px;
        }
      }
      .text-center{
        img{
          width: 150px;
          height: 200px;
        }
      }
    }
  }
}

  // @media screen and (min-width: 480px){
  //   .div#code{
  //     font-size: 10px;
  //     width: 100vh;
  //     img{
  //         width: 90px;
  //         // aspect-ratio: auto 180 / 250;
  //         height: 125px;
  //     }
  //   }
  // }


  .dresser{
    img{
      width: 180px;
      height: 250px;
    }
  }

  .text-center{
    img{
      width: 150px;
      height: 200px;
    }
  }

  .nav-link{
    color: #000;
  }

  h1#color{
    color: #fff;
  }

  div#space{
    margin-left: 50px;
  }

  div#category_serch{
    padding-top: 50px;
    padding-bottom: 50px;
    border-right: 1px solid ;
  }

  div#category{
    margin-bottom: 30px;
  }

  .table-noborder td {
    border-top: 0;
  }


  td {
    white-space: nowrap;
  }

  .col-md-3{
    line-height: 3.5rem;
  }

  .image{
    width: 120px;
    height: 170px;
  }

.title {
  text-align: center;
  padding: 0.5% 2% 0.5% 2%;
  }

.user-new-sub {
  margin-left: 70px;
  background-color: #DDDDDD;
  text-align: center;
}

.user-already {
  margin-left: 30px;
  text-align: center;
  background-color: #DDDDDD;
  }

.user-login-link {
  margin-left: 55px;
  font-size: 18px;
}

.user-sign-up {
  font-size: 20px;
  font-weight: bold;
  width: 70%;
  height: 30%;
  padding: 0
}

.user-session-form{
  width: 70%;
}
.user-session-label{
  width: 20%;
}

.user-login{
  fontsize: 16px;
  font-weight: bold;
  width: 30%;
}

.user-session-link-title {
  margin-left: 50px;
  background-color: #DDDDDD;
  text-align: center;
}

.user-session-link {
  marfin-left: 55px;
  text-align: center;
}

.tab{
  display: flex;
  flex-wrap: wrap;
  float: left;
}


.drop{
  text-align: right;
  width: 10%;
  margin: auto;
}

div#code{
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

div#dragarea{
  width:100%;
}

div.dp{
  width:100%;
  height:130px;
}

div#drop1{
  background-color:#ffff80;
  width: 150px;
  height: 180px;
}

div#drop2{
  background-color:#ff80ff;
  width: 150px;
  height: 180px;
  }

div#drop2:after{
  content:"";
  display:block;
  clear:left;
}

div#drop3{
  background-color:#80ffff;
  width: 150px;
  height: 180px;
  }

div#drop3:after{
  content:"";
  display:block;
  clear:left;
}

.tab-group{
  display: flex;
  justify-content: center;
}

.tab{
  flex-grow: 1;
  padding:5px;
  list-style:none;
  border:solid 1px #89c7de;
  text-align:center;
  cursor:pointer;
}

.panel{
  display:none;
}

.tab.is-active{
  background:#F00;
  color:#FFF;
  transition: all 0.2s ease-out;
}

.panel.is-show{
  display:block;
}

.scroll{
  display: flex;
  overflow-x: scroll;
}

nav.pagination {
  display: none;
}

.scroll-list {
  padding: 0;
}