/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";
  @import 'font-awesome-sprockets';
  @import 'font-awesome';

  header,footer,div.collapse {
    font-family: 'Rampart One', cursive;
  }

  body{
    font-family:"メイリオ", "Meiryo", sans-serif,"A1ゴシック M","A1 Gothic M","ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","Hiragino Sans","游ゴシック Medium","YuGothic","YuGothicM";
  }

.table-noborder td {
  border-top: 0;
}

 td {white-space: nowrap;}

// header,footer.col-md-2{
  // background-color: #007394;
// }

// header.a,header.ul{
  // background-color: #000;
// }

.title {
  margin-left: 30px;
  text-align: center;
  background-color: #DDDDDD;
  padding: 0.5% 2% 0.5% 2%;
  }

.user-new-sub {
  margin-left: 70px;
  background-color: #DDDDDD;
  text-align: center;
}

.user-already {
  margin-left: 30px;
  text-align: center;
  background-color: #DDDDDD;
  }

.user-login-link {
  margin-left: 55px;
  font-size: 18px;
}

.user-sign-up {
  font-size: 20px;
  font-weight: bold;
  width: 70%;
  height: 30%;
  padding: 0
}

.user-session-form{
  width: 70%;
}
.user-session-label{
  width: 20%;
}

.user-login{
  fontsize: 16px;
  font-weight: bold;
  width: 30%;
}

.user-session-link-title {
  margin-left: 50px;
  background-color: #DDDDDD;
  text-align: center;
}

.user-session-link {
  marfin-left: 55px;
  text-align: center;
}