<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <div class="tab">
        <div class="text-center font-weight-bold">カテゴリー</div>
          <div class="area">
            <ul>
              <% @categories.each do |category|%>
                <li>
                  <%= category.name %>
                  (<%= link_to category.clothes.count, category_path(category) %>)<br>
                </li>
              <% end %>  
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%= render "category_view", clothes: @clothes %>
  </div>
</div>